* {
    margin: 0;
  } 

/*#navbar li a:hover,
#navbar li a:active {
    color: blue;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover::after,
#navbar li a:active:after {
    content: "";
    width: 60%;
    height: 2px;
    background: blue;
    position: absolute;
    bottom:  -4px;
    left: 20px;
}*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f2f2f2;
}

.navbar_logo img {
    width: 100px;
    height: 50px;
}

.navbar_links {
    display: flex;
    list-style: none;
    margin: 0; 
    list-style: none;
    padding: 0 20px;
    position: relative;
}

li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
}

a:hover {
    color: #007bff;
    transition: 0.3s ease-in-out;
}

.navbar_links li:not(:last-child) {
    margin-right: 2rem;
}

.navbar_account img {
    width: 50;
    height: 50px;
}
